body{
    background-color: beige; 
}
.item-container .box{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    padding: 18px;
}
.item-container .box h1{
    font-size: 18px;
}
.item-container .box .item-box{
    display: flex;
    justify-content: space-between;
}
.item-container .box .item-box .item{
   
    width: 24%;
    height: 150px;
    background-color: rgb(255, 255, 255);
}
.item-container .box .item-box .item img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 9px;
    text-align: center;
    
}
.item-container .box .item-box .item h2{
    font-size: 15px ;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
